description = "Posts section"

[builderList]
modelClass = "JakeFeeley\MackenzieTour\Models\Post"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<div class="bg_color_1">
    <div class="container margin_80_55">
        <div class="main_title_2">
            <span><em></em></span>
            <h3>Latest News</h3>
        </div>
        <div class="row">
            {% for post in records %}
            <div class="col-lg-6">
                <a class="box_news" href="/post/{{ post.id }}">
                    <figure>
                        <img src="{{ post.image.path() }}" alt="{{ post.title }}" />
                        <figcaption><strong>{{ blog.created_at|date('d')}}</strong>{{ post.created_at|date('M')}}</figcaption>
                    </figure>
                    <ul>
                        <li>{{ post.created_at|date('d M Y')}}</li>
                    </ul>
                    <h4>{{ post.title }}</h4>
                    <p class="d-none">{{ str_limit(post.body|raw , 80) }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
        <p class="btn_home_align"><a href="/blog" class="btn_1 rounded">View all news</a></p>
    </div>
</div>