description = "Contact info row"
==
<div class="contact_info">
	<div class="container">
		<ul class="clearfix">
			<li>
				<i class="pe-7s-map-marker"></i>
				<h4>Address</h4>
				<span>Horsforth Golf Club, Layton Rise, <br>Horsforth, Leeds LS18 5EX</span>
			</li>
			<li>
				<i class="pe-7s-mail-open-file"></i>
				<h4>Email</h4>
				<span>info@playyorkshire.com<br><small>Monday to Friday 9am - 5pm</small></span>

			</li>
			<li>
				<i class="pe-7s-phone"></i>
				<h4>Phone</h4>
				<span>0800 1 70 70 77<br><small>Monday to Friday 9am - 5pm</small></span>
			</li>
		</ul>
	</div>
</div>